<template>
    <!--spinner while loading data-->
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
    </template>

    <div class="slds-box">
    <!--Displaying Header-->
    <template if:false={isChildComponent}>
        <h2 class="slds-text-heading_medium slds-m-bottom_xx-small">Case Hirerachy</h2>
    </template>

     <!-- if  cases available-->
    <template if:true={hasChildCases}>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered"
            aria-labelledby="element-with-table-label other-element-with-table-label">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="slds-cell-shrink" scope="col">
                        <div class="slds-truncate" title="Action">Action</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Case Number">Case Number</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Subject">Subject</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Origin">Origin</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={cases} for:item="cse" for:index="index">
                    <tr key={cse.Id} class="slds-hint-parent">
                        <td data-label="Action">
                            <div class="slds-truncate" title="Action">
                                <template if:false={cse.isExpand}>
                                    <lightning-button-icon icon-name="utility:add" data-index={index}
                                        alternative-text="Expand" title="Collapse"
                                        onclick={handleChildCaseComponent}></lightning-button-icon>
                                </template>
                                <template if:true={cse.isExpand}>
                                    <lightning-button-icon icon-name="utility:dash" data-index={index}
                                        alternative-text="Collapse" title="Collapse"
                                        onclick={handleChildCaseComponent}></lightning-button-icon>
                                </template>
                            </div>
                        </td>
                        <td data-label="Case Number">
                            <div class="slds-truncate" title="Case Number"><a data-index={index} onclick={handleNavigateToCase}>{cse.CaseNumber}</a>
                            </div>
                        </td>
                        <td data-label="Subject">
                            <div class="slds-truncate" title="Subject">{cse.Subject}</div>
                        </td>
                        <td data-label="Origin">
                            <div class="slds-truncate" title="Origin">{cse.Origin}</div>
                        </td>
                    </tr>
                    <!-- calling same component to retrieve the row's child cases on click of add button-->
                    <template if:true={cse.isExpand}>
                    <tr key={cse.Id}>
                        <td colspan="4">
                             <c-lwc-case-hirerachy   record-id={cse.Id} is-child-component={cse.isExpand}></c-lwc-case-hirerachy>
                        </td>
                    </tr>
                    </template>
                </template>
            </tbody>

        </table>
    </template>
    <!-- if no cases available-->
    <template if:false={hasChildCases}>
            <template if:false={error}>{label.noChildCases}</template>
            <template if:true={error}>{error}</template>
    </template>
    </div>
</template>